.InsuranceView {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.insuranceList{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.searchContainer {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.searchBox {
    width: 50%;
}

.insuranceContainer {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: grey 2px solid;
    border-radius: 5px;
    position: relative;
}

.insuranceContainer:hover {
    cursor: pointer;
}

.insuranceHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dot {
    height: 15px;
    width:  15px;
    border-radius: 50%;
    margin-left: 5px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.actionContainer{
    position: absolute;
    display: flex;
    bottom: 10px;
    right: 10px;
}

.actionContainer > button:hover{
    transform: scale(120%);
}

.actionContainer > button {
    transition: all 0.2s;
}

.actionContainer > button > img {
    width: 25px;
}

.editBtn{
    margin-right: 20px;
}

.deletePopup{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.67);
}

.popupContainer {
    height: 30%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.popupContainer > div {
    margin-top: 20px;
}

.popupContainer > div > button:nth-child(1) {
    margin-right: 20px;
}
