
.Header {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.Header > div {
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
}

.logo {
    padding-left: 20px;
}

/* .links > span {
    padding-right: 10px;
}

.navContainer > a {
    margin-right: 10px;
    border: 1px white solid;
    border-radius: 5px;
}

.navContainer > a > button {
    color: white;
} */

.navContainer > a {
    margin-right: 10px
}